[package]
name = "api_types"
version.workspace = true
authors.workspace = true
license.workspace = true
edition.workspace = true
rust-version.workspace = true

[lib]
name = "api_types"
path = "src/lib.rs"

[dependencies]
chrono = { workspace = true }
serde = { workspace = true }
