name: Typos

on:
  push:
    branches: ["main"]
  pull_request:

concurrency:
  group: typos-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  typos:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Check typos
        uses: crate-ci/typos@v1.30.2
